NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=xxx
STRIPE_SECRET_KEY=xxx
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Email Configuration
EMAIL_USER=main@aiforge.com
EMAIL_PASSWORD=your_gmail_app_password_here
EMAIL_FROM=BatchFit <main@aiforge.com>